<html>
    <body>
        <h1>Registros</h1>
        <table border="1">
            
              <th>TimeStamp</th>
              <th>FromCurrency</th>
              <th>ToCurrency</th>
              <th>Value</th>
            </tr>
        {% for entry in records %}
        <tr>
            <th>{{entry.timestamp}}</th>
            <th>{{entry.fr}}</th>
            <th>{{entry.to}}</th>
            <th>{{entry.val}}</th>
        </tr>
        {% endfor %}
        </table>
    </body>
</html>
